body {
    background-color: rgb(32, 30, 68);
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.search--field{
    margin: auto;
    margin-top: 20rem;
    background-color: rgb(43, 39, 100);
    width: 45rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 0;
    text-align: left;
    border-radius: 10px;
}

h1{
    font: 'Roboto Condensed';
    font-size: 3em;
    color: antiquewhite;
    margin: 10px auto;
    margin-left: 2rem;
    
}

#food-input {
    width: 85%;
    height: 30px;
    border-radius: 10px;
    font: 'Roboto Condensed';
    font-size: 2rem;
    text-align: center;
    padding: 10px 1px;
}
.btn {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px;
    padding-top: 14px;
    margin-bottom: 1000px !important;
}

.btn p {
    margin: auto;
}
.btn:hover,
.btn:focus {
  background-color: #F082AC;
}

.resulting-search {
    margin-top: 100px;
}

.card {
    margin: auto;
    background-color: rgb(43, 39, 100);
    width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    margin-top: 5rem;
    font: 'Roboto Condensed';
    font-size: 2rem;
    text-align: left;
    color: rgb(216, 215, 214);
}

.card div {
    margin-left: 20px;
}

.hidden {
    display: none;
}